@import "../../../styles/variables.scss";

main { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .main-section {
        gap: 8px;

        flex-grow: 1;
        background-color: $gray-bg;
    }

    .form-section {
        flex-grow: 0.3;
        padding: 0 35px;

        img {
            margin-bottom: 45px;
        }
        
        h2 {
            font-size: 28px;
            font-weight: bold;
            margin-bottom: 45px;
        }

        .btn-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            gap: 30px;

            .divisor {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;
                width: 100%;
                
                font-size: 12px;
                font-weight: 400;
                color: $gray-bg;
                text-transform: uppercase;

                div {
                    height: 2px;
                    flex-grow: 1;
                    background-color: $gray-bg;
                }
            }

            button {
                width: 100%;
                border-radius: 8px;
                font-size: 16px;
                font-weight: 500px;
                padding: 12px 24px;
                border: none;
                background-color: transparent;
                cursor: pointer;

                &.btn-primary {
                    background-color: $primary-color;
                    color: white;
                    box-shadow:0px 8px 12px rgba(148.23004603385925, 64.33935597538948, 255, 0.20000000298023224);
                }
    
                &.btn-secondary {
                    border: 1px solid $primary-color;
                    color: $primary-color;
                }
            }
        }
    }
}